[ga-query] {
  width: 560px;
  margin: 10px 0 0 0;
  
  hr {
    margin-bottom: 0;
  }  
  
  .tab-content {
    margin: 10px 0px;
  }

  .ga-inputs {
    display: table;
    margin-bottom: 5px;
   
   > * {
     display: table-cell;
     width: 100px;
     text-align: left;
     margin: 0 3px;
   }

   button {
     width: 34px;
   } 
  }
  
  .ga-queries-saved {
    select{
      width: 150px;
    }
    select, button {
      display: inline-block;
    }
  }
}

