<div class="tabbable">

  <ul class="nav nav-tabs" ng-init="queryType = 0">
    <li ng-class="{active: (queryType == 0)}">
      <a ng-click="queryType = 0">{{'query_bbox' | translate}}</a>
    </li>
    <li ng-class="{active: (queryType == 1)}">
      <a ng-click="queryType = 1">{{'query_attributes' | translate}}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div ng-if="queryType == 0" translate>inform_draw_rectangl_ctrl</div>
    <div ng-if="queryType == 1">
      <div class="form-group ga-queries-saved" ng-show="queriesSaved.length > 0">
        <label translate>query_saved</label> 
        <select class="form-control"
                ng-model="querySaved" 
                ng-options="q.label for q in queriesSaved">
          <option value="" selected disabled translate>choose_query</option>
        </select>
        <button class="btn btn-default" 
                ng-if="querySaved"
                ng-click="load(querySaved.queries)"
                translate>query_load</button>
        <button class="btn btn-default"
                ng-if="querySaved"
                ng-click="removeQuerySaved(querySaved)"
                translate>query_remove</button>
      </div>

      <div class="form-group">
        <label translate>query_current</label>
        <div class="ga-inputs"
             ng-repeat="q in queries">
          <select class="form-control"
                  ng-model="q.layer"
                  ng-options="l.label for l in searchableLayers" 
                  ng-change="loadAttributes(q)">
            <option value="" selected disabled translate>choose_layer</option>
          </select>
          <select class="form-control"
                  ng-disabled="!q.layer" 
                  ng-model="q.attribute" 
                  ng-options="a.label for a in q.layer.attributes"
                  ng-change="applyOpValues(q)">
          </select>
          <select class="form-control"
                  ng-disabled="!q.attribute"
                  ng-model="q.operator"
                  ng-options="o for o in q.attribute.operators">
          </select>
          <input type="text" class="form-control"
                 ng-disabled="!q.attribute"
                 ng-model="q.value">
          </input>
          <div class="form-group">
            <button class="btn btn-default" 
                    ng-if="queries.length < 3"
                    ng-click="add($index)">
              +
            </button>
            <button class="btn btn-default"
                    ng-if="!$first || queries.length > 1"
                    ng-click="remove($index)">
              -
            </button>
          </div>
        </div>
        <button class="btn btn-default" 
              ng-hide="!queries[0].value"
              ng-click="reset()" translate>query_reset</button>
        <button class="btn btn-default"
              ng-hide="!queries[0].value"
              ng-click="save()" translate>query_save</button>
        <button class="btn btn-default" 
              ng-hide="!queries[0].value"
              ng-click="search()" translate>query_search</button>

      </div>
    </div>
  </div> 
</div>
<hr/>
